node_modules
build
dist
.docs
.coverage
node_modules
package-lock.json
yarn.lock
.vscode

# helia-http-gateway specific files
/test-results/
/playwright-report/
/playwright/.cache/
screenshots
.envrc
scripts/tmp/fixtures
scripts/tmp/kubo-path.txt
test/fixtures/e2e
